// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  color: #fff;
  font-size: 5vw;
}

.header_img {
  position: relative;
}

.header_img a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 5vw;/*文字サイズ*/
  border: solid white 5px; /*線で囲う*/
  padding: 20px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.header_img a:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }

.header_img img {
  width: 100%;
  object-fit: cover;
  }

#contents {
  margin: 0 auto;
  padding: 0 80px;
}

.search {
  width: 25%;
  margin: auto;
  margin-top: 40px;
}

.search_btn {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.h3-title {
  text-align: center;
  margin: 50px 0;
  color: #fff;
}

.details {
  max-width: 700px;
  margin: 0 auto;
}

.card {
  margin: 50px auto;
}

.card-title {
  margin-top: 10px;
  font-family: "Ravi Prakash", cursive;
}

.event-index {
  background-color: #c0ffb3;
  border-bottom: double 2px #3a4c09;
  color: #353535;
}


.form_group {
  margin-bottom: 20px;
}

.form_text {
  width: 100%;
  height: 200px;
}

.tag {
  background-color: #808000;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  margin-bottom: 30px;
  margin-right: 10px;
}

.join {
  text-align:center;
}

.participants {
  width: 100%;
  margin: 50px auto;
}

.participants ul {
  background: #fffcf4;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
}

.participants ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none
}

.organizer {
  width: 500px;
  margin: 50px auto;
  background: #f5f5dc;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}

.organizer p {
  display: inline-block;
  padding: 1.2em 0.5em 0.5em 2em;
}

.message {
  padding: 5px 10px;
  margin: 0 10px;
}

.ranking {
  max-width: 500px;
  margin: 40px auto;
}

.order {
  border-bottom: solid black 2px;
  padding: 10px;
  background: #cde2e8;
}

.icon_size {
  font-size: 3em
}

.ranking_font {
  font-size: 3em;
  font-family: "Ravi Prakash", cursive;
}

.ranking_content {
  background-color: #fff;
}

.title_content {
  padding-top: 10px;
  padding-left: 20px;
}

.title_content p {
  display: inline-block;
  border-bottom: solid black 1px;
}

.cheering_content {
  // padding-top: 10px;
  padding-left: 20px;
}

.cheering_content p {
  display: inline-block;
  border-bottom: solid black 1px;
}

.place_content {
  padding-left: 20px;
}

.place_content p {
  display: inline-block;
  border-bottom: solid black 1px;
}

.day_content {
  padding-left: 20px;
}

.day_content p {
  display: inline-block;
  border-bottom: solid black 1px;
}

.ranking_btn {
  padding-left: 20px;
  padding-bottom: 20px;
}

.space {
  padding-left: 20px
}

.delete-btn {
  margin: 50px auto 0 auto;
}

.acount-delete {
  text-align: center;
  margin-bottom: 20px;
}

.event_form {
  max-width: 700px;
  margin: 50px auto;
  padding: 50px;
  border: medium double #c0c0c0;
  background-color: #f1f2ef;
}

.confirm_form {
  min-width: 500px;
  max-width: 700px;
  margin: 50px auto;
  padding: 0 30px 40px 30px;
  border: medium double #c0c0c0;
  background-color: #fff;
}
