// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_img {
  position: relative;
  }

.header_img a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 100px;/*文字サイズ*/
  border: solid white 5px; /*線で囲う*/
  padding: 20px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.header_img a:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }

.header_img img {
  width: 100%;
  object-fit: cover;
  }

#contents {
  margin: 40px auto;
  padding: 0 80px;
  background-color: #fff
}

.search {
  width: 25%;
  margin: auto;
  margin-top: 40px;
}

.search_btn {
  text-align: center;
  margin-top: 20px;
}

.title {
  text-align: center;
  margin: 50px 0;
}

.event_form{
  width:700px;
  margin:50px auto;
  padding: 50px;
  border: medium double #c0c0c0;
}

.details {
  width: 700px;
  margin: 50px auto;
}

.card {
  margin:50px auto;
}


.form_group {
  margin-bottom: 20px;
}

.form_text {
        width: 570px;
        height:200px;
}

.tag {
  background-color: #808000;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  margin-bottom: 30px;
}

.join {
  text-align:center;
}

.participants {
  width: 500px;
  margin:50px auto;
}

.participants ul {
  background: #fffcf4;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
}
.participants ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.message {
  padding: 5px 10px;
  margin-left: 10px;
}
