// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  margin: 0 auto;
}

.profile-container {
  display:flex;
  flex-direction: row;
  margin: 0 auto;
}

.profile-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px
}

.profile-content-introduce {
  margin-left: 30px
}

.image-to-circle {
  border-radius: 50%;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.profile_support_team {
  display: inline-block;
  background-color: red;
  margin-bottom: 10px;
}

.profile_support_team span{
  padding: 10px;
  color: #fff;
}

.profile_support_history {
  display: inline-block;
  background-color: blue;
  margin-bottom: 10px;
}

.profile_support_history span{
  padding: 10px;
  color: #fff;
}

.profile_introduce {
  display: inline-block;
  background-color: gray;
  margin-bottom: 10px;
}

.profile_introduce span{
  padding: 10px;
  color: #fff;
}

.new_user {
  margin: 0 auto;
}

.edit_user {
  margin: 0 auto;
}

.user_form {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  border: medium double #c0c0c0;
  background-color: #f1f2ef;
}

.login {
  text-align: center;
}

.normal_btn {
  width: 190px;
  padding: 8px 24px;
  margin-bottom: 20px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #008000;
}

.twitter_btn {
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #55acee;
}

.twitter_btn:hover {
  opacity: 1;
}

.new_btn {
  display: block;
  width: 190px;
  padding: 8px 24px;
  margin: auto;
  margin-top: 20px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #dd0000;
}

.fa {
  margin-right: 5px;
}

.fa-twitter {
  margin-right: 5px;
}

.button_to {
  margin: 0 auto;
}
