// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  margin: 0 auto;
}

.profile-container {
  display:flex;
  flex-direction: row;
  margin: 0 auto;
}

.profile-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px
}

.profile-content-introduce {
  margin-left: 30px
}

.image-to-circle {
  border-radius: 50%;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.profile_support_team {
  display: inline-block;
  background-color: red;
  margin-bottom: 10px;
}

.profile_support_team span{
  padding: 10px;
  color: #fff;
}

.profile_support_history {
  display: inline-block;
  background-color: blue;
  margin-bottom: 10px;
}

.profile_support_history span{
  padding: 10px;
  color: #fff;
}

.profile_introduce {
  display: inline-block;
  background-color: gray;
  margin-bottom: 10px;
}

.profile_introduce span{
  padding: 10px;
  color: #fff;
}

.user_form {
  width: 700px;
  margin: 50px auto;
  padding: 50px;
  border: medium double #c0c0c0;
  background-color: #f1f2ef;
}

.sns {
  margin: 10px 0;
  text-align: center;
}

.twitter-btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.twitter-btn:hover {
  opacity: 1;
}

.twitter {
  background-color: #55acee;
}

.fa {
  margin-right: 5pxå;
}

#error_explanation h2{
  visibility:hidden;
}

#error_explanation li{
  text-align: center;
  color: #fff;
  list-style-type: none;
}
