<p><%= t('views.messages.welcome') %> <%= @email %>さん!</p>

<p><%= t('views.messages.official-registration') %></p>

<p><%= link_to t('views.messages.register-account'), confirmation_url(@resource, confirmation_token: @token) %></p>
